.login-body{
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logIn-box{
    padding: 4rem 3rem;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 2px gray;
}
.google,.facebook{
    padding-right: 1rem;
    padding-left: 0px;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    float: left;

}
.google{
    background-color: #4F86EC;
    border: 2px solid #4F86EC;
    margin-bottom: 1rem;
}
.facebook{
    
    background-color: #3A65C3;
    border: 2px solid #3A65C3;
}

.g-icon,.f-icon{
    display: inline-block;
    padding: 0.5rem;
    background-color: white;
    width: 45px;
    margin-right: 0.5rem;
}
.g-icon i, .f-icon i{
    font-size: 1.5rem;
}
.g-icon{
    color: #4F86EC;
    margin-left: -19px;
}
.f-icon{
    color: #3A65C3;
}
.or{
    text-align: center;
    font-weight: 500;
    position: relative;
    z-index: -1;
}
.or::before{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 20%;
    width: 25%;
    height: 1px;
    background-color: black;
}
.or::after{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 55%;
    width: 25%;
    height: 1px;
    background-color: black;
}


@media screen and (max-width: 575px) {
    .google,.facebook{
        font-size: 0.9rem;
    }
    .g-icon i, .f-icon i{
        font-size: 1rem;
    }
    .g-icon,.f-icon{
        padding: 0.3rem;
        width: 35px;
        margin-right: 0.3rem;
    }
    .g-icon{
        margin-left: -13px;
    }
}